* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 1.25rem;
  color: #f0f8ff;
}

body {
  background: #414a4c;
  display: flex;
  flex-direction: column;
}
.container.main {
  width: min(100vw, 100%);
  
}
.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  padding-top: 0;
  width: 100%;
}


.container.content {
  align-items: center;
  justify-content: center;
  display: flex;
  grid-area: main;
}

.btn {
  width: fit-content;
  color: #414a4c;
  padding: 0.25rem;
  align-self: center;
  margin: 0;
  cursor: pointer;
  border-radius: 0.75rem;
}

/* SUBMIT BTN CSS */
#submit-box {
  grid-column: 4/5;
  align-self: center;
  position: relative;
  margin: 1rem;
  width: 7rem;
  height: 3rem;
  justify-content: center;
  background: transparent;
}


#submit .text {
  color: #414a4c;
}

#submit{
   height: fit-content;
}

#check img,
.color,#submit {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#check img {
  width: 0
}
.color {
  width: 0;
  background: #66ff66;
}
/* TITLE CSS */
.title {
  position: relative;
  grid-column: 1/4;
  width: 100%;
}
.title-box {
  position: absolute;
  width: fit-content;
  left: -800px;
}
.title .letter {
  display: inline-block;
  margin: 0;
  font-size: 3rem;
  cursor: pointer;
}



/* TEXT CSS */
.box{
   width: 100%;
   height: 30rem;
   display: flex;
   justify-content: center;
   align-self: center;
   text-align: center;
}
.brow,
.eye{
   margin: auto;
   border-radius: 50%;
   width: 10rem;
   height: 10rem;
   background: white;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}
.brow{
   background: transparent;

}
.eye{
   border: solid 3px #b2ec5d;
   background: radial-gradient( #ffefba, #ffffff);

}
.eye .ball{
width: 4rem;
height: 4rem;
border-radius: 50%;
padding: 1rem;
background: radial-gradient( #34e89e, #0f3443);
position: absolute;
}
.pupil{
  width: 2rem;
  height: 2rem;
  background: black;
  border-radius: 50%;
}
.mike{
  position: absolute;
  top: 0rem;
  left:-.9rem;
  width: 80rem;
  z-index: -1;
}